/* ############################## CSS VARIABLES ############################## */
:root {
  --primaryYellow: #f4e409;
  --secondaryYellow: #fefbdb;
  --thirdYellow: #fcf288;
  --primaryGrey: #555555;
  --primaryBorder: 1px solid var(--primaryGrey);
  --primaryTransition: all 0.3s linear;
  --primaryBoxShadow: 5px 5px 5px var(--primaryGrey);
}
/* ############################## UNIVERSAL STYLES ############################## */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primaryGrey);
}
p {
  font-size: 2rem;
}
img {
  display: block;
  width: 100%;
}
.page-section {
  max-width: 100%;
  padding: 90px 50px 50px 50px;
  margin: 0 auto;
}
.section-heading {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* ############################## HEADER ############################## */
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--primaryYellow);
  border-bottom: 2px solid var(--primaryGrey);
  box-shadow: 0 2px 2px var(--primaryGrey);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  color: var(--primaryGrey);
}
.logo--left {
  transform: rotate(180deg);
}
.link-top {
  color: var(--primaryGrey);
  text-decoration: none;
}
.topnav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3rem;
  font-weight: 700;
}
.topnav__item--link {
  text-decoration: none;
  color: var(--primaryGrey);
  padding: 8px 10px;
  margin: 20px 0 20px 20px;
  border-radius: 20px;
  transition: var(--primaryTransition);
}
.topnav__item--link:hover {
  color: var(--primaryYellow);
  background-color: var(--primaryGrey);
}
/* ############################## HAMBURGER MENU ############################## */
@media screen and (max-width: 1000px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 57px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 57px;
    padding: 10px;
    background-color: var(--primaryYellow);
    z-index: 1;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--primaryGrey);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 5px;
    background: inherit;
    z-index: 1;
  }
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger {
    background-color: var(--primaryYellow);
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.3s;
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.3s linear 0.4s;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
  }
  .menu-wrap .menu > div {
    width: 100%;
    background-color: rgba(85, 85, 85, 1);
    transform: scale(0);
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div > ul > li {
    width: 100vw;
    margin: 0 auto;
    list-style: none;
    font-size: 3rem;
    color: var(--primaryYellow);
  }

  .menu-wrap .menu > div > div > ul > li > a {
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s linear;
    padding: 10px 0;
    border-bottom: 1px solid var(--primaryYellow);
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div > ul > li > a:hover {
    background-color: rgba(100, 100, 100, 1);
    transform: translateX(10px);
  }
}
/* ############################## BANNER ############################## */
.banner {
  position: relative;
  height: 100vh;
  color: var(--primaryYellow);
  background-color: rgba(35, 194, 239, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}
.banner__heading {
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
  margin: 0 30px;
  animation-name: heading-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__paragraph {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primaryYellow);
  margin: 20px 30px 0 30px;
  animation-name: paragraph-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryYellow);
  padding: 10px 30px;
  margin-top: 20px;
  background-color: var(--primaryGrey);
  border: 5px solid var(--primaryYellow);
  border-radius: 20px;
  transition: var(--primaryTransition);
  animation-name: button-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn:hover {
  color: var(--primaryGrey);
  background-color: var(--primaryYellow);
  border: 5px solid var(--primaryGrey);
  transform: scale(1.1);
}
.banner__btn:active {
  transform: scale(1);
}
/* ############################## BANNER ANIMATIONS ############################## */
@keyframes heading-animation {
  0% {
    transform: translate(1000px, -300px);
    opacity: 0;
  }
  50% {
    transform: translate(300px, 0);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes paragraph-animation {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes button-animation {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ############################## ABOUT US ############################## */
.about-us {
  background-color: var(--secondaryYellow);
}
.about-us__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.about-us__text--paragraph {
  text-align: justify;
}
.about-us__link {
  font-weight: 700;
  color: #0074ff;
  text-decoration: none;
}
.about-us__photo--wrapper {
  position: relative;
}
.about-us__photo {
  border: var(--primaryBorder);
  border-radius: 20px;
  overflow: hidden;
}
.about-us__photo--sky {
  animation-name: about-us-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-us__photo--airplane {
  position: absolute;
  top: 20%;
  left: 30%;
  animation-name: about-us-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* ############################## ABOUT US ANIMATION ############################## */
@keyframes about-us-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* ############################## FLIGHTS ############################## */
.flights {
  background-color: var(--thirdYellow);
}
.flights__paragraph {
  text-align: justify;
  margin-bottom: 30px;
}
.timetable__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.timetable__arivals,
.timetable__departures {
  width: 500px;
}
.timetable {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: var(--primaryGrey);
  border: 3px solid var(--primaryGrey);
  border-collapse: collapse;
}
.timetable__header {
  width: 100%;
}
.timetable th,
.timetable td {
  border: 3px solid var(--primaryGrey);
  padding: 5px 20px;
}
.timetable__icon {
  display: inline-block;
  padding: 0 15px;
}

/* ############################## BOOKING ############################## */
.booking {
  background-color: var(--secondaryYellow);
}
.radio__paragraph {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
}
.booking__form--wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--thirdYellow);
  border: var(--primaryBorder);
  border-radius: 10px;
}
.booking__form {
  display: grid;
  grid-template-areas:
    "flight-type flight-type . ."
    "destination destination . ."
    "departure return adults children"
    "travel-class travel-class . .";
  gap: 20px;
}
.radio__one-way {
  display: inline-block;
}
.flight-type {
  grid-area: flight-type;
}
.destination {
  grid-area: destination;
}
.departure {
  grid-area: departure;
}
.return {
  grid-area: return;
}
.adults {
  grid-area: adults;
  width: 100px;
}
.children {
  grid-area: children;
  width: 100px;
}
.travel-class {
  grid-area: travel-class;
}
.booking__label {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryGrey);
}
.booking__input {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryGrey);
}
.booking__input:focus {
  outline: none;
}
.input__roundtrip:checked {
  font-size: 5rem;
}
.input__roundtrip,
.input__one-way {
  margin: 0 5px;
}
.input__destination,
.input__travel-class {
  width: 170px;
  border: 3px solid var(--primaryGrey);
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.input__departure,
.input__return {
  width: 100%;
  padding: 5px;
  border: 3px solid var(--primaryGrey);
  border-radius: 10px;
}
.input__adults,
.input__children {
  width: 100%;
  padding: 5px;
  border: 3px solid var(--primaryGrey);
  border-radius: 10px;
}
/* ############################## CONTACT US ############################## */
.contact-us {
  background-color: var(--thirdYellow);
}
.form__message {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.form {
  width: 800px;
  padding: 20px;
  margin: 0 auto 30px auto;
  background-color: var(--secondaryYellow);
  border: var(--primaryBorder);
  border-radius: 10px;
}
.form__inputs {
  display: grid;
  grid-template-areas:
    "name email"
    "message message";
  gap: 20px;
}
.input__name {
  grid-area: name;
}
.input__email {
  grid-area: email;
}
.input__message {
  grid-area: message;
  height: 100px;
}
.text__input {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryGrey);
  padding: 10px;
  border: 1px solid var(--primaryGrey);
  border-radius: 10px;
}
.text__input:focus {
  border: 3px solid var(--primaryGrey);
  outline: none;
}
.form__btn {
  display: block;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryYellow);
  background-color: var(--primaryGrey);
  padding: 10px;
  margin: 20px auto 20px auto;
  border: 1px solid var(--primaryGrey);
  border-radius: 20px;
  transition: var(--primaryTransition);
  cursor: pointer;
}
.form__btn:focus {
  outline: none;
}
.form__btn:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.social__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.social__item--link {
  width: 100px;
  height: 100px;
  text-decoration: none;
  background-color: var(--secondaryYellow);
  border: var(--primaryBorder);
  border-radius: 25px;
  transition: var(--primaryTransition);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.social__item--icon {
  font-size: 5rem;
  text-align: center;
}
.fa-github {
  color: #4078c0;
}
.fa-stack-overflow {
  color: #ef8236;
}
.fa-linkedin-in {
  color: #0e76a8;
}
.fa-twitter {
  color: #00acee;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-instagram {
  color: #3f729b;
}
.social__item--link:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.social__item--link:active {
  transform: scale(1);
}
.social__item--link:focus {
  outline: none;
}
/* ############################## FOOTER ############################## */
.footer {
  background-color: var(--secondaryYellow);
  padding: 20px;
}
.footer__nav--items {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.footer__nav--item {
  display: inline-block;
  font-size: 2rem;
  list-style-type: none;
}
.footer__nav--link {
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryGrey);
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  transition: var(--primaryTransition);
}
.footer__nav--link:hover {
  color: var(--primaryYellow);
  background-color: var(--primaryGrey);
}
.copy-right {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 50px auto 0 auto;
}

/* ############################## MEDIA QUERIES ############################## */
/* ############################## MEDIA QUERIES FOR UNIVERSAL STYLES ############################## */
@media screen and (max-width: 1000px) {
  .page-section {
    padding: 90px 25px 25px 25px;
  }
}
/* ############################## MEDIA QUERIES FOR HEADER SECTION ############################## */
@media screen and (max-width: 1000px) {
  .topnav {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  .menu-wrap {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .logo__small {
    display: none;
  }
}
/* ############################## MEDIA QUERIES FOR BANNER SECTION ############################## */
@media screen and (max-width: 703px) {
  .banner__heading {
    font-size: 7rem;
  }
}
@media screen and (max-width: 700px) {
  .banner__paragraph {
    font-size: 4rem;
  }
}
@media screen and (max-width: 574px) {
  .banner__heading {
    font-size: 6rem;
  }
}
@media screen and (max-width: 570px) {
  .banner__paragraph {
    font-size: 3rem;
  }
}
@media screen and (max-width: 510px) {
  .banner__heading {
    font-size: 5rem;
  }
}
@media screen and (max-width: 447px) {
  .banner__heading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 570px) {
  .banner__paragraph {
    font-size: 2.5rem;
  }
  .banner__btn {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 381px) {
  .banner__heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 380px) {
  .banner__paragraph {
    font-size: 2rem;
  }
  .banner__btn {
    font-size: 2rem;
  }
}
@media screen and (max-height: 450px) {
  .banner {
    justify-content: start;
  }
  .banner__heading {
    font-size: 3rem;
    margin-top: 9rem;
  }
  .banner__paragraph {
    font-size: 2rem;
    margin-top: 5px;
  }
  .banner__btn {
    font-size: 2rem;
    margin-top: 5px;
  }
  .menu-wrap .menu > div > div > ul > li {
    font-size: 2rem;
  }
}
/* ############################## MEDIA QUERIES FOR ABOUT US SECTION ############################## */
@media screen and (max-width: 1100px) {
  .about-us__photo--sky,
  .about-us__photo--airplane {
    display: none;
  }
}
@media screen and (min-width: 1101px) {
  .about-us__photo--small {
    display: none;
  }
}
/* ############################## MEDIA QUERIES FOR FLIGHTS SECTION ############################## */
@media screen and (max-width: 550px) {
  .timetable__wrapper {
    grid-template-columns: 1fr;
  }
  .timetable__arivals,
  .timetable__departures {
    width: 100%;
  }
}
@media screen and (max-width: 502px) {
  .timetable__icon {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .timetable td,
  .timetable th {
    padding: 5px 10px;
  }
}
/* ############################## MEDIA QUERIES FOR BOOKING SECTION ############################## */
@media screen and (max-width: 750px) {
  .booking__form {
    width: 100%;
    grid-template-areas:
      "flight-type"
      "destination"
      "departure"
      "return"
      "adults"
      "children"
      "travel-class";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .departure,
  .return,
  .adults,
  .children {
    text-align: center;
  }
  .input__departure,
  .input__return {
    margin-top: 5px;
  }
  .adults,
  .children {
    width: 100%;
  }
  .input__adults,
  .input__children {
    width: 100px;
    margin-left: 5px;
  }
  .radio__paragraph,
  .label__destination,
  .label__adults,
  .label__children,
  .label__travel-class {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 315px) {
  .radio__one-way {
    display: block;
  }
}
/* ############################## MEDIA QUERIES FOR CONTACT US SECTION ############################## */
@media screen and (max-width: 800px) {
  .form {
    width: 100%;
  }
  .form__inputs {
    width: 100%;
    display: grid;
    grid-template-areas:
      "name"
      "email"
      "message";
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  .input__name,
  .input__email,
  .input__message,
  .form__btn {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .social__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 390px) {
  .social__item--link {
    width: 80px;
    height: 80px;
  }
  .social__item--icon {
    font-size: 4rem;
  }
}

@media screen and (max-width: 310px) {
  .social__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ############################## MEDIA QUERIES FOR FOOTER SECTION ############################## */
@media screen and (max-width: 1120px) {
  .footer__nav--items {
    grid-template-columns: 1fr;
  }
}
/* ############################## MEDIA QUERIES FOR HOVER ############################## */
@media screen and (max-width: 1024px) {
  .banner__btn:hover {
    color: var(--primaryYellow);
    background-color: var(--primaryGrey);
    border: 5px solid var(--primaryYellow);
    transform: none;
  }
  .form__btn:hover {
    transform: none;
    box-shadow: none;
  }
  .social__item--link:hover {
    transform: none;
    box-shadow: none;
  }
  .footer__nav--link:hover {
    color: var(--primaryGrey);
    background-color: transparent;
  }
}
